<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Monsters and Villains</title>
</head>
<body>
	<!-- stuff -->
	<h1>Meet our hero!</h1>
	name: {{ hero.getName }}
	<br>
	health: {{ hero.getHealth }}
	<br>
	secret identity:  {{ hero.getSecretIdentity }}
	<br>
	is alive?: {{ hero.isAlive }}
	
	<h1>Meet our villains!</h1>
	<table>
		<thead>
			<tr>
				<th>name</th>
				<th>classification</th>
				<th>health</th>
				<th>is Alive?</th>
			</tr>
		</thead>
		<tbody>
			{{#monsters}}
				<tr>
					<td>{{ this.getName }}</td>
					<td>{{ this.getClassification }}</td>
					<td>{{ this.getHealth }}</td>
					<td>{{ this.isAlive }}</td>
				</tr>
			{{/monsters}}
		</tbody>
	</table>
	

	<br>
	<hr>
	
	<!-- if game is not over show fight button -->
	{{^isGameOver}}
		<form action="/fight" method="post">
			<button>Fight to the death</button>
		</form>
	{{/isGameOver}}
	
	<!-- if game is not over show results -->
	{{#isGameOver}}
	
		<!-- if hero is alive -->
		{{#hero.isAlive}}
			<h2>{{ hero.getSecretIdentity }} beat the monsters </h2>
		{{/hero.isAlive}}
		
		<!-- if hero is NOT alive -->
		{{^hero.isAlive}}
			<h2>{{ victoriousMonster.getName }} the {{ victoriousMonster.getClassification }} beat {{ hero.getSecretIdentity }}</h2>
		{{/hero.isAlive}}
		
	{{/isGameOver}}
	
	<form action="/reset" method="post">
		<button>Reset Game</button>
	</form>
	
</body>
</html>